// @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap');

$font: 'Roboto', sans-serif;
$font-mulish: 'Mulish', sans-serif;
$font-condition: 'Libre Baskerville', serif;
// $serif-heading-font: 'Lora', serif;
// $font: 'Montserrat', sans-serif;
// $font: 'Lato', sans-serif;
// $font: 'Rubik', sans-serif;
